<form action="/random/results">
  <div>
    <label for="minimum">
      Minimum
    </label>

    <input id="minimum" text="text" name="low" placeholder="e.g., 1.5">
  </div>

  <div>
    <label for="maximum">
      Maximum
    </label>

    <input id="maximum" text="text" name="high" placeholder="e.g., 4.5">
  </div>

  <button>
    Pick random number
  </button>
</form>
