<form action="/square/results">

  <div>
    <label for="square_button">Enter a number</label>
  </div>
  <div>
    <input id="square_button" type="text" placeholder="What number do you want to calculate?" name="user_input">
  </div>
  <div>
    <button>Calculate square</button>
  </div>

</form>
